.center {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

@-webkit-keyframes flash {
    0%, 50%, 100% {opacity: 1}
    0% {color: red}
    50% {color: white}
    100% {color: red}
    25%,
    75% {opacity: 0}
}

@-moz-keyframes flash {
    0%, 50%, 100% {opacity: 1}
    0% {color: red}
    50% {color: white}
    100% {color: red}
    25%,
    75% {opacity: 0}
}

@keyframes flash {
    0%, 50%, 100% {opacity: 1}
    0% {color: red}
    50% {color: white}
    100% {color: red}
    25%,
    75% {opacity: 0}
}

.flash {
    display: block;
    bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    text-align: center;
    -webkit-animation: flash 6s infinite;
    -o-animation: flash 6s infinite;
    animation: flash 6s infinite;
}

.spin {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% {
    -moz-transform:rotate(360deg);
}
}
@-webkit-keyframes spin { 100% {
    -webkit-transform:rotate(360deg);
}
}
@keyframes spin { 100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}
}